body {
    background-color: pink;
    color: bisque;
    font-family: Georgia, serif;
    list-style-position: inside;
    border-style: double;
    border-color: black;
}

div {
    margin: 70px;
    border: none;
    border-style: none;
    background-color: rgb(184, 131, 131);
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-left: 100px;
    
  }

img {

    width: 100%;
    height: 200px;
    object-fit: cover; 
    border-radius: 60px;
  }

.cursive {
    font-size: 30px;
    font-style: oblique;
}

.homepage-title {
    font-size: 80px;
    padding-top: 10px;
    padding-right: 100px;
    padding-bottom: 3px;
    padding-left: 100px;
    text-transform: none;
    text-align: center;
    object-fit: fill;
    gap: 3rem;

}

.title {
    font-weight: bolder;
    font-size: 50px;
    padding-top: 10px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-left: 100px;
    text-transform: none;
    text-align: center;
    object-fit: fill;
}

#navigation a {
   
    color: white;
    border: none;
    padding: 10px 10px;
    padding-left: 200px;
    padding-bottom: 30px;
    text-decoration: solid;
    display: inline-block;
    order: initial;


  }
  
  #navigation a:hover, a:active {
    background-color: rgb(184, 131, 131);
    color:rgb(106, 73, 73);
}


#homepage-list {
    text-align: center;
    list-style-position: inside;
    list-style: none;
    padding-top: 15px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-left: 100px;
    

}



